{% extends "base.html" %}

{% block content %}
    <h1 class="text-2xl font-bold mb-4">Validación de CURP</h1>

    <!-- Mostrar mensajes flash -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="mb-4">
                {% for category, message in messages %}
                    <div class="p-4 mb-2 rounded {{ 'bg-green-100 text-green-800' if category == 'success' else 'bg-red-100 text-red-800' }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

  
    <form action="{{ url_for('curp.validar_curp_view') }}" method="POST" class="space-y-4">
        <div>
            <label for="curp" class="block text-sm font-medium text-gray-700">Ingresa tu CURP</label>
            <input type="text" id="curp" name="curp" required maxlength="18" 
                   class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>
        <div>
            <button type="submit" class="w-full px-4 py-2 bg-custom-maroon text-white font-semibold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                Validar CURP
            </button>
        </div>
    </form>
{% endblock %}
